{% extends "base.html" %}
{% block scripts %}
<script src="{{ STATIC_URL }}js/maps.js"></script>
{% endblock %}
{% block content %}
<div class='row'>

</div>
<div class='row'>
<div id="map_canvas" class="span7"</div>
</div>
<div id="info_panel" class='span4'>
	<div id="place_info">
		<div id="info_title"><h2><span/></h2><a class="hide_place" href="#"><i class='icon-chevron-left'></i> Back to list</a></div>
		<div id="loading_yelp_results">Retrieving results from <img class='yelp_brand' src='http://media1.ak.yelpcdn.com/static/20101216159295510/img/map/miniMapLogo.png' /><span id="yelp_spinner"></div>
		<div id="info_rating">
				<img id='yelp_rating_img' src='' />
				<a href='#' class='yelp_link' target="_blank">
				<p></p>
				<img class='yelp_brand' src='http://media1.ak.yelpcdn.com/static/20101216159295510/img/map/miniMapLogo.png' />
			</a>
		</div>
		<div id="info_address"><p /></div>
		<div id="info_phone_number"><p /></div>
		<div id="info_restaurant_notes"><h3>Restaurant notes:</h3><p /></div>
		<div id="info_menu_items"><h3>Paleo-friendly menu items:</h3><p id="menu_items_spinner"></p><dl /></div>
	</div>
	<div id="place_list_holder">
		<h3>Paleo-friendly Places Near You:</h3>
		<div id="place_list">
			<ul class="nav nav-tabs nav-stacked"/>
		</div>
		<a id="add_place_button" href="#addPlaceModal" data-toggle='modal' class='btn btn-large btn-success'>
			<i class="icon-plus icon-white"></i> Add a place to the map!
		</a>
	</div>
</div>
</div>

<div class="alert alert-success" id="alert_success">
  <strong>Thanks!</strong> You've added <span></span> to the map.
</div>
<div class="alert alert-error" id="alert_error">
  <strong>Uh oh!</strong> Something went wrong adding <span></span> to the map. We're looking into it.
</div>

<div class="modal hide fade span8" id="addPlaceModal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Add a Place</h3>
  </div>
  <div class="modal-body">
    <form id="add_place_form">
	  <h4>To add a stop to the map, just start typing below!</h4>
	  <input id="add_place_input" type="text" class="span5" placeholder="Type a paleo-friendly place here...">
	  <label class="checkbox">
	    <input type="checkbox"> This is a chain restaurant <span id='why_chain' rel="popover" data-content="If you check this, we'll search for places in that chain nearby and add them to the map too.">Why does this matter?</span>
	  </label>
	<h4>Optional: add known paleo-friendly things on the menu</h4>
	<div class="add_menu">
	<input class="new_menu_field menu_item" type="text" placeholder="Menu item name">
	<input class="new_menu_field menu_item_description" type="text" placeholder="Comments/Notes">
	</div>
	<h4>Optional: add notes/comments/tips for the restaurant</h4>
	<textarea id="add_place_description" class='span5'></textarea>
	</form>
  </div>
  <div class="modal-footer">
	<div id="modal_spinner"></div>
    <a href="#" id="add_place_submit" class="btn btn-success btn-primary disabled">Save this place</a>
    <a href="#" data-dismiss="modal" class="btn">Cancel</a>
  </div>
</div>


{% endblock %}