{% extends "base.html" %}
{% block scripts %}
<script src="{{ STATIC_URL }}js/maps.js"></script>
{% endblock %}
{% block content %}
<div class='row'>
<a id="add_place_button" href="#addPlaceModal" data-toggle='modal' class='span3 btn btn-large btn-success'>
	<i class="icon-plus icon-white"></i> Add a place to the map!</a>
</div>
<div class='row'>
<div id="map_canvas" class="span7"</div>
</div>
<div id="info_panel" class='span5'>
	<h2 id="info_start_title" class='info_start'>Welcome to Paleo Maps!</h2>
	<div id="info_start_description" class='info_start'><p>
		Paleo maps is a fun, easy way for followers of the <a href="http://en.wikipedia.org/wiki/Paleolithic_diet" target='_blank'>Paleo diet</a> to find places to eat.<br><br>
		Click on any of the map markers for reviews, information, menu items, and more for paleo-friendly restaurants near you.<br><br>
		This site is a work in progress, with more content and functionality being added every day. If you have questions, feature suggestions, or bug reports, feel free to email them to <a href='mailto:info@paleomaps.com'>info@paleomaps.com</a>.</p></div>
	<div id="info_title" class='info_not_start'><h2><a href="#" target="_blank"><span /></a></h2></div>
	<div id="info_rating" class='info_not_start'><img src='' /><p /></div>
	<div id="info_address" class='info_not_start'><p /></div>
	<div id="info_phone_number" class='info_not_start'><p /></div>
	<div id="info_menu_items" class='info_not_start'><h3>Paleo-friendly menu items:</h3><p id="menu_items_spinner"></p><dl /></div>
	<div id="info_restaurant_notes" class='info_not_start'><h3>Restaurant notes:</h3><p /></div>
</div>
</div>
<div class="modal hide fade span8" id="addPlaceModal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Add a Place</h3>
  </div>
  <div class="modal-body">
    <form id="add_place_form">
	  <h4>To add a stop to the map, just start typing below!</h4>
	  <input id="add_place_input" type="text" class="span5" placeholder="Type a paleo-friendly place here...">
	  <label class="checkbox">
	    <input type="checkbox"> This is a chain restaurant
	  </label>
	<h4>Optional: add known paleo-friendly things on the menu</h4>
	<div class="add_menu">
	<input class="new_menu_field menu_item" type="text" placeholder="Menu item name">
	<input class="new_menu_field menu_item_description" type="text" placeholder="Comments/Notes">
	</div>
	<h4>Optional: add notes/comments/tips for the restaurant</h4>
	<textarea id="add_place_description"></textarea>
	</form>
  </div>
  <div class="modal-footer">
	<div id="modal_spinner"></div>
    <a href="#" id="add_place_submit" class="btn btn-success btn-primary">Save this place</a>
    <a href="#" data-dismiss="modal" class="btn btn-danger">Cancel</a>
  </div>
</div>
{% endblock %}