<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">PaleoMaps</a>
		<ul class="nav">
		<li><a href="#infoModal" data-dismiss="modal" data-toggle="modal">About PaleoMaps</a></li>
        <li><a href="mailto:info@paleomaps.com">Feedback/Issues</a></li>
      </ul>
	<ul class='pull-right'>
		<li class='pull-right' id="twitter_link"><a href="https://twitter.com/share" class="twitter-share-button" data-via="paleomaps">Tweet</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></li>
		</ul>
    </div>
  </div>
</div>

<div class="modal hide fade span8" id="infoModal">
	<div class="modal-header">
	    <a class="close" data-dismiss="modal">×</a>
	    <h3>Welcome to Paleo Maps!</h3>
	  </div>
	<div class="modal-body"><p>
		Paleo maps is a fun, easy way for followers of the <a href="http://en.wikipedia.org/wiki/Paleolithic_diet" target='_blank'>Paleo diet</a> to find places to eat.<br><br>
		Click on any of the map markers for reviews, information, menu items, and more for paleo-friendly restaurants near you.<br><br>
		This site is a work in progress, with more content and functionality being added every day. If you have questions, feature suggestions, or bug reports, feel free to email them to <a href='mailto:info@paleomaps.com'>info@paleomaps.com</a>.</p></div>
		<div class="modal-footer">
	    <a href="#" data-dismiss="modal" class="btn">Close</a>
	  </div>
</div>